#login {
  background-image: linear-gradient(to bottom right,rgb(70, 156, 182), yellow);
  background-position: fixed;
  height: 100vh;
  min-height: 700px;
  margin: 0;
  padding: 0;
  background-repeat: repeat-y;
}

.bg-gray {
  background-color: rgba(139, 139, 139, 0.733);
}